// Susy setup -----------
$total-columns : 12;
$column-width: 65px;
$gutter-width: 20px;

$container: 1440px;
// $desktop-mid: 1330px;
$desktop-padding-remove: 1059px;
$desktop-start: 1001px;
$tablet-start: 768px;
$small: 320px;
$medium: 767px; // mobile end
$large: 1000px; // tablet end

$body-bg: rgba(236, 207, 207, 0.8);

 