<!doctype html>
<html lang="en" >

<head>
  {{>header title="Index Page"}}
</head>

<body> 
<div class="overlay">
</div>
<!-- build:js scripts/vendor.js -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/jquery.cookie/jquery.cookie.js"></script> 
<!--endbuild -->
<!-- build:js scripts/main.js -->
{{!-- <script src="scripts/megaMenuTab.js"></script> --}}
</body>

</html>
